<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.berishaerblin.moneymanager"
    android:installLocation="auto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splashAndintro.Splashi"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NavigationBarTransparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".splashAndintro.IntroScreenSlider"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoStatusBar" />
        <activity android:name=".Category.Pasqyra.addInIncomeOrExpense" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Category.Kursimet.addKursime" />
        <activity android:name=".Category.Kursimet.addItemintokursimet"></activity>
    </application>

</manifest>